* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header {
    border: 1px solid green;
    background-color: darkgray;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;

    gap: 10px;
   
}
header nav a {
    text-decoration: none;
    color: rgb(10, 136, 246);

    font-size: 20px;
}
 
main {
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h1 {
    margin: 10px auto 10px;
}

section {
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin-bottom: 80px;
}

img {
    width: 100px;   
    height: 100px;
    
}

span {
    font-weight: bold;
} */


table, th, td, tr, form {
    border: 1px solid black;
   

}


.container {
    display: flex;
    flex-direction: row;
   justify-content: space-between; /*Eixo X*/
    /* align-items: end; Eixo Y */
    flex-wrap: wrap-reverse;
    align-content: stretch;

    border: 5px solid purple;

    padding: 15px;

    /* width: 500px; */
    height: 400px;

}

.verde {
    background-color: green;
    width: 200px;  
    height: 50px;  
}

.vermelho {
    background-color: red;
    width: 150px;  
    /* height: 50px;   */
}

.azul {
    background-color: blue;
    width: 150px;  
    height: 50px;  
}